// TODO Make

.white-bg {
	background-color: white;
}

.black-border {
	border: 1px solid black;
}

div.about {
	a.macro-link { 
		font-weight: bold;
	}
	// div.team-row {
	// 	margin-top: 20px;
		ul {
			margin-top: 20px;
			float: left;
			width: 100%;
			margin: 0;
			li.member {
				margin-top: 15px;
				width: 33.33333333%;
				float: left;
				text-align: center !important;

				&.mobile{
					width:100%;
					float:none;
				}

				div.photo_container {
					position: relative;
				}
			}
		}
	// }
	ul {
		padding: 0;
		li {
			text-align: center;

			&:hover {
				img.photo {
					filter: none;
					// @include grayscale(0);
				}
			}

			span {
				color: black;
				margin: 0 4px;
			}

			// div.info {
			// 	@include opacity(0.0);
			// 	position: absolute;
			// 	bottom: 1em;
			// 	right: 0;
			// 	width: 100%;
			// }

			span.name{
				font-size: 1.25em;
			}

			div.role {
				font-size: 0.8em;
				ul {
					list-style-type: none;
					li {
						padding-left: 4px;
						padding-right: 2px;
						display: inline;
						list-style-type: none;
						border-left: 1px solid black;
					}
					li:first-child {
						border-left: none;
					}
				}
			}

			img.photo {
				// filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
				// filter: gray; /* IE6-9 */
				// -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
				display: block;
				margin: 1em auto;
				width: 150px;
				height: auto;
				border: 1px solid black;

				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				-khtml-border-radius: 3px;  
				border-radius: 3px;

				-webkit-transition: 0.25s all ease-in; 
				-o-transition: 0.25s all ease-in;
				-moz-transition: 0.25s all ease-in;
				transition: 0.25s all ease-in;
			}

			div.affiliation {
				font-size: 0.9em;
			}
		}
	}

	.description {
		clear: both;
	}
}

section.description {
	font-size: 1.25em;
	margin: 1em 0 2em 0;
}