// Universal Link Styling
a {
    text-decoration: none !important;
    &:hover {
        color: black;
    }
}

// Universal List Styling
ul {
    list-style-type: none;
    li {
        list-style-type: none;
    }
}

@mixin transition($property, $duration, $timing-function) {
    -webkit-transition: $property $duration $timing-function;
    -moz-transition: $property $duration $timing-function;
    -o-transition: $property $duration $timing-function;
    transition: $property $duration $timing-function;
}

@mixin opacity-transition { @include transition(opacity, 0.1s, ease-in) }
@mixin border-transition { @include transition(border, 0.1s, ease-in) }
@mixin background-transition { @include transition(background, 0.1s, ease-in) }

@font-face {
    font-family: 'DIN';
    src: url('assets/fonts/DINLight.ttf') format('ttf'), url('assets/fonts/DINLight.woff') format('woff');
}

@font-face {
    font-family: 'Karbon';
    src: url('assets/fonts/karbon-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Karbon';
    src: url('assets/fonts/karbon-light-webfont.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Karbon';
    src: url('assets/fonts/karbon-regular-webfont.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Karbon';
    src: url('assets/fonts/karbon-semibold-webfont.woff') format('woff');
    font-weight: bold;
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}