$almost-black: #111;
$gray: #AEAEAE;



// Universal List Styling
ul {
    list-style-type: none;
    li {
        list-style-type: none;
    }
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

@mixin text-select {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: default;
}

@mixin nudge {
    cursor: pointer;
    position: relative;
    &:hover { bottom: 1px; }
}

@mixin transition($property, $duration, $timing-function) {
    -webkit-transition: $property $duration $timing-function;
    -moz-transition: $property $duration $timing-function;
    -o-transition: $property $duration $timing-function;
    transition: $property $duration $timing-function;
}

@mixin opacity-transition { @include transition(opacity, 0.1s, ease-in) }
@mixin border-transition { @include transition(border, 0.1s, ease-in) }
@mixin background-transition { @include transition(background, 0.1s, ease-in) }

@font-face {
    font-family: 'DIN';
    src: url('assets/DINLight.ttf') format('ttf'), url('assets/DINLight.woff') format('woff');
}

@font-face {
    font-family: 'Karbon';
    src: url('assets/karbon-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Karbon';
    src: url('assets/karbon-light-webfont.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Karbon';
    src: url('assets/karbon-regular-webfont.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Karbon';
    src: url('assets/karbon-semibold-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: Neutral;
    src: url("assets/neutral-regular-3.woff");
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    }
@font-face {
    font-family: Neutral;
    src: url("assets/neutral-medium-3.woff");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    }
@font-face {
    font-family: Neutral;
    src: url("assets/neutral-bold-3.woff");
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    }

// Universal Link Styling
a {
    @include nudge;
    text-decoration: none !important;
    color: black;
    border-bottom: 1px solid black;
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


ul {
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
    }
}

html, body {
    margin: 0;
    padding: 0;
    background-color: white; // black; // $almost-black;
    color: black;
    font-size: 16px;
    font-family: Metrophobic, Neutral, Karbon, 'Helvetica', Arial, Sans Serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-size: cover;
    background: radial-gradient(white 70%, #ddd 95%) no-repeat center center fixed;
}

header {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 10px;
    // background-color: rgba(0, 0, 0, 0.7);

    div.title-paper {
        padding-top: 16px;
        padding-left: 20px;
        div.title {
            font-family: "Open Sans Condensed";
            text-transform: uppercase;
            font-size: 36px;
            letter-spacing: 1px;
            font-weight: bold;
        }

        div.paper {
            line-height: 18px;
            margin-left: 2px;
            margin-top: 10px;
            font-size: 14px;
        }
    }

    div.nav {
        margin: 0;
        margin-top: 0px;
        padding-left: 23px;
        ul {
            margin: 0;
            margin-right: 10px;
            padding: 0;
            li {
                line-height: 40px;
                float: left;
                margin-right: 30px;
                a {
                    padding-bottom: 1px;
                    text-transform: capitalize;
                    border-bottom: none;
                    @include nudge;
                    &.active {
                        border-bottom: 2px solid black;
                    }
                }
            }
        }
    }
}

div.navigator {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

@media only screen and (max-width : 500px) {

}

div.wrapper {
    width: 100%;
    min-height: 100%;
}

div.dataset {
    z-index: 10;
    position: fixed;
    top: 100px;
    left: 22px;
    line-height: 40px;

    span.arrow {
        padding-right: 10px;
    }
    span.label {
        padding-right: 20px;
    }

    ul {
        margin: 0;
        float: right;
        padding-top: 6px;

        li {
            padding: 0;
            line-height: 20px;
            padding-top: 5px;
            margin-right: 20px;
            // float: left;
            text-transform: capitalize;

            a {
                @include nudge;
                border-bottom: none;
                padding-bottom: 1px;
                &.active {
                    border-bottom: 2px solid black;
                }
            }
        }
    }
}

@media only screen and (max-width : 1024px) {
    header {
        position: static;
        // border-bottom: 1px solid black;

        div.title-paper {
            // border-bottom: 1px solid black;
            padding-bottom: 15px;

            div.paper {
                font-size: 14px;
            }
        }

        div.nav {
            position: static;
            height: 42px;
            width: 500px;
            margin: 0 auto;
        }

    }

    div.dataset {
        top: 300px;
    }
}


div#viz {
    height: 100%;
    width: 100%;
}

div.content {
    // font-family: Neutral;
    font-weight: 300;
    min-height: 400px;
    padding-bottom: 50px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    div.title {
        padding-top: 150px;
        text-align: center;
        font-size: 28px;
    }

    div.text {
        margin-top: 20px;

        div.category {
            text-align: center;
            padding: 10px 0 20px 0;
        }
    }
}

// Data download
div.data {
    div.category {
        padding-top: 15px;
        text-align: center;
        border-bottom: 1px solid black;
    }

    div.table {
        div.label {
            padding-top: 10px;
        }

        div.row {
            padding-top: 4px;
            padding-left: 20px;

        }

        a {
            padding-top: 1px;
            padding-bottom: 1px;
        }
    }
}

div.desc {
    line-height: 22px;
    width: 100%;
    max-width: 600px;
    margin: 60px auto 70px auto;
}

div.d3plus_tooltip {
    color: white !important;
}

footer {
    border-top: 1px solid $gray;
    margin: 0 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 22px;

    div.logos {
        margin-top: 20px;
        height: 50px;

        span.collaboration {
            vertical-align: top;
            line-height: 60px;
            padding-left: 25px;
        }

        img {
            height: 45px;
            margin: 10px 0 10px 20px;
        }
    }
}

div.navigator {
    text-align: center;
}

.arrow-up {
    margin: 0 auto;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-bottom: 20px solid black;
}

.arrow-down {
    margin: 0 auto;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid black;
}