$almost-black: #111;
$gray: #AEAEAE;
$hover-black: rgba(0, 0, 0, 0.8);
$unhover-gray: rgba(0, 0, 0, 0.2);



// Universal List Styling
ul {
    list-style-type: none;
    li {
        list-style-type: none;
    }
}

@mixin smallcaps {
    font-size: 12px;
    text-transform: uppercase;
}

@function grayscale($value) {
  @return #{ "grayscale(" + $value + ")" };
}

// @mixin grayscale($value) {
//     -webkit-filter: #{ "grayscale(" + $value + ")" };
//     -moz-filter: #{ "grayscale(" + $value + ")" };
//     -o-filter: #{ "grayscale(" + $value + ")" };
//     -ms-filter: #{ "grayscale(" + $value + ")" };
//     filter: #{ "grayscale(" + $value + ")" };
// }

@mixin opacity($trans) {
    // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
    // filter: alpha(opacity=#{$trans * 100});
    -moz-opacity: $trans;
    -khtml-opacity: $trans;
    opacity: $trans;
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

@mixin text-select {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: default;
}

@mixin nudge {
    cursor: pointer;
    position: relative;
    &:hover { bottom: 1px; }
}

@mixin transition($property, $duration, $timing-function) {
    -webkit-transition: $property $duration $timing-function;
    -moz-transition: $property $duration $timing-function;
    -o-transition: $property $duration $timing-function;
    transition: $property $duration $timing-function;
}

@mixin opacity-transition { @include transition(opacity, 0.1s, ease-in) }
@mixin border-transition { @include transition(border, 0.1s, ease-in) }
@mixin color-transition { @include transition(color, 0.1s, ease-in) }
@mixin background-transition { @include transition(background, 0.1s, ease-in) }

@font-face {
    font-family: 'DIN';
    src: url('assets/DINLight.ttf') format('ttf'), url('assets/DINLight.woff') format('woff');
}

@font-face {
    font-family: 'Karbon';
    src: url('assets/karbon-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Karbon';
    src: url('assets/karbon-light-webfont.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Karbon';
    src: url('assets/karbon-regular-webfont.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Karbon';
    src: url('assets/karbon-semibold-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: Neutral;
    src: url("assets/neutral-regular-3.woff");
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    }
@font-face {
    font-family: Neutral;
    src: url("assets/neutral-medium-3.woff");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    }
@font-face {
    font-family: Neutral;
    src: url("assets/neutral-bold-3.woff");
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    }

@font-face { font-family: 'Linux Libertine'; font-style: normal; font-weight: 400; src: local('Linux Libertine'),url('//brick.a.ssl.fastly.net/fonts/linuxlibertine/400.woff') format('woff'); } .fa-wikipedia:before { font-family: 'Linux Libertine', 'Times New Roman', Times, serif; font-weight: 400; content: "W"; }

// Universal Link Styling
a {
    text-decoration: none !important;
    color: black;
    border-bottom: 1px solid black;

    &.no-border {
        border-bottom: none;
    }
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


ul {
    margin: 0;
    padding: 0;
    li {
        margin: 0;
        padding: 0;
    }
}

html, body {
    margin: 0;
    padding: 0;
    background-color: white; // black; // $almost-black;
    color: black;
    font-size: 16px;
    font-family: Metrophobic, Neutral, Karbon, 'Helvetica', Arial, Sans Serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-size: cover;
    background: radial-gradient(white 40%, #eee 55%) no-repeat center center fixed;
    // background: url("/assets/seamless_paper_texture.png"); // no-repeat center center fixed;
}

header {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 10px;
    // background-color: rgba(0, 0, 0, 0.7);

    div.title-paper {
        padding-top: 16px;
        padding-left: 20px;
        div.title {
            font-family: "Open Sans Condensed";
            text-transform: uppercase;
            font-size: 40px;
            font-weight: bold;
        }

        div.paper {
            line-height: 18px;
            margin-left: 2px;
            margin-top: 10px;
            font-size: 14px;
        }
    }

    div.nav {
        margin: 0;
        margin-top: 0px;
        padding-left: 23px;
        ul {
            margin: 0;
            margin-right: 10px;
            padding: 0;
            li {
                line-height: 40px;
                float: left;
                margin-right: 8px;
                a {
                    padding-bottom: 1px;
                    text-transform: capitalize;
                    border-bottom: none;
                    border-radius: 2px;
                    padding: 5px 10px;
                    &.active, &:hover {
                        background-color: $hover-black;
                        color: white;
                    }
                }
            }
        }
    }
}

div.visualization-pane {
    div.content {
        div.title {
            padding-top: 60px;
        }

        div.desc {
            margin-top: 0;
            margin-bottom: 30px;
            text-align: justify;
        }
    }
}

div.navigator {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

@media only screen and (max-width : 500px) {

}

div.wrapper {
    width: 100%;
    min-height: 100%;
}

div.datasets {
    z-index: 10;
    position: fixed;
    top: 180px;
    left: 22px;
    line-height: 40px;

    span.arrow {
        padding-right: 10px;
    }
    span.label {
        padding-right: 20px;
    }

    ul {
        margin: 0;
        padding-top: 6px;
        padding-left: 4px;

        li {

            position: relative;
            margin-top: 2px;
            background-color: $unhover-gray;
            // border: 1px solid black;
            height: 80px;
            width: 80px;
            padding: 0;
            line-height: 20px;
            border-radius: 2px;
            // padding-top: 5px;
            // margin-right: 20px;
            // float: left;
            text-transform: capitalize;
            cursor: pointer;

            div.container {
                border-radius: 2px;
                &.active, &:hover {
                    background-color: $hover-black;
                    color: white;
                    width: 80px;
                    height: 80px;
                }
            }

            div.icon {
                width: 30px;
                margin: 0px auto;
                padding-top: 24px;
                i {
                    font-size: 30px;
                }
            }

            div.label {
                @include smallcaps;
                padding-top: 3px;
                text-align: center;
                width: 100%;
                opacity: 0.0;
                &.visible {
                    opacity: 1.0;
                }
                a {
                    @include nudge;
                    border-bottom: none;
                    padding-bottom: 1px;
                    // &.active, &:hover {
                    //     border-bottom: 2px solid black;
                    // }
                }
            }
        }
    }
}

// @media only screen and (max-width : 1024px) {
//     header {
//         position: static;
//         // border-bottom: 1px solid black;

//         div.title-paper {
//             // border-bottom: 1px solid black;
//             padding-bottom: 15px;

//             div.paper {
//                 font-size: 14px;
//             }
//         }

//         div.nav {
//             position: static;
//             height: 42px;
//             width: 500px;
//             margin: 0 auto;
//         }

//     }

//     div.dataset {
//         top: 300px;
//     }
// }


div#viz {
    height: 90%;
    width: 100%;
}

// rect.d3plus_data {
//     -webkit-filter: drop-shadow( -5px -5px 100px #F00 );
//             filter: drop-shadow( -5px -5px 5px #000 ); /* Same syntax as box-shadow */
// }

div.content {
    // font-family: Neutral;
    font-weight: 300;
    padding-bottom: 50px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    div.title {
        padding-top: 20px;
        &:first-child {
            padding-top: 150px;            
        }

        text-align: center;
        font-size: 28px;
    }

    div.text {
        text-align: justify;
        overflow: auto;
        margin-top: 20px;

        div.category {
            text-align: center;
            padding: 10px 0 20px 0;
        }
    }
}

// Data download
div.data {
    a {
        @include nudge;
    }

    div.category {
        padding-top: 15px;
        text-align: center;
        border-bottom: 1px solid black;
    }

    div.table {
        div.label {
            padding-top: 10px;
        }

        div.row {
            padding-top: 4px;
            padding-left: 20px;

        }

        a {
            padding-top: 1px;
            padding-bottom: 1px;
        }
    }
}

div.press {
    padding-top: 20px;
    div.label {
        span.date {
            float: right;
        }
    }
}

div.desc {
    line-height: 22px;
    width: 100%;
    max-width: 600px;
    margin: 60px auto 70px auto;
}

div.d3plus_tooltip {
    color: white !important;
}

footer {
    border-top: 1px solid $gray;
    margin: 0 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 22px;

    a {
        @include nudge;
    }

    div.logos {
        // border-top: 1px solid black;
        // border-bottom: 1px solid black;
        margin-top: 20px;
        height: 50px;

        span.collaboration {
            vertical-align: top;
            line-height: 45px;
            padding-left: 0px;
        }

        img {
            margin: 0 15px;
            &.ml {
                height: 50px;
            }
            &.amu {
                height: 50px;
            }
            &.circle {
                height: 50px;                
            }
        }
    }
}

div.navigator {
    cursor: pointer;
    text-align: center;
}

div.paper-page {
    div.paper-title {
        font-weight: bold;
    }

    a {
        @include nudge;
    }
}

div.video {
    padding-top: 20px;
}

.arrow-up {
    margin: 0 auto;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-bottom: 20px solid black;
}

.arrow-down {
    margin: 0 auto;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid black;
}

@import '_about';
@import '_ranking';