<div class="content about" ng-controller="aboutCtrl">
	<div class="title">
		About
	</div>
	<div class="text">
		<p>
			 The global language network is a project by the <a href="http://media.mit.edu" target="_blank">MIT Media Lab</a> <a href="http://macro.media.mit.edu" target="_blank">Macro Connections group</a> in collaboration with  <a href="http://univ-amu.fr" target="_blank">Aix-Marseille Université</a>, <a href="http://mobs-lab.org" target="_blank">Northeastern MoBS</a>, and <a href="http://harvard.edu" target="_blank">Harvard University</a>. We are an interdisciplinary team working to measure and understand the structure and implications of the Global Language Network.
		</p>
		<p>
			You can get in touch by e-mailing <a href="mailto:language@media.mit.edu">language@media.mit.edu</a> or following <a href="http://twitter.com/macroMIT" target="_blank">@macroMIT</a>.
		</p>
	</div>

	<div class="title">
		Team
	</div>
	<div class="text">
		<div class="team-row">
			<ul>
				<li class="member" ng-repeat="member in firstRowMembers">
					<span class="name">{{member.name}}</span>
					<div class="affiliation">{{member.affiliation}}</div>
					<div class="photo_container">
						<img class="photo" src="assets/about/{{member.picture}}" />

					</div>
					<div class="info">
						<div class="twitter block">
							<a target="_blank" href="http://twitter.com/{{member.twitter}}">
								<div class="icon">
									<i class="fa fa-twitter icon"></i>
								</div>
							</a>
						</div>
					    <div class="website block">
					    	<a target="_blank" href="http://{{member.website}}">
						    	<div class="icon">
						    		<i class="fa fa-home icon"></i>
						    	</div>
						    </a>
					    </div>
					</div>
				</li>
			</ul>
		</div>
		<div class="team-row">
			<ul>
				<li class="member" ng-repeat="member in secondRowMembers">
					<span class="name">{{member.name}}</span>
					<div class="affiliation">{{member.affiliation}}</div>
					<div class="photo_container">
						<img class="photo" src="assets/about/{{member.picture}}" />
						<div class="info">
							<div class="twitter block">
								<a target="_blank" href="http://twitter.com/{{member.twitter}}">
									<div class="icon">
										<i class="fa fa-twitter icon"></i>
									</div>
								</a>
							</div>
							<div class="website block">
								<a target="_blank" href="http://{{member.website}}">
									<div class="icon">
										<i class="fa fa-home icon"></i>
									</div>
								</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
