<div class="content">
	<div class="title">
		Data
	</div>
		<div class="text">
		<p>
			The datasets used in the Global Language Network paper are available for download here.
		</p>
		<p>
			<div class="category">Book Translations</div>
			<div class="table">
				<div class="row">Raw</div>
				<div class="row"><a target="_self" href="data/books_raw.json" download="twitter_gln_nodes.tsv">Twitter Nodes</a></div>
			</div>
			<div class="category">Wikipedia</div>
			<div class="category">Twitter</div>
			<div class="category">Cytoscape</div>


		</p>
	</div>
</div>