<div class="content data">
	<div class="title">
		Data
	</div>
	<p>
		The datasets used in the Global Language Network paper are available for download here.
	</p>
	<div class="category">Book Translations</div>
	<div class="table">
		<div>
			<div class="label">Metadata</div>
			<div class="row"><a target="_self" href="data/public/datasets_stats_books.tsv" download="datasets_stats_books.tsv">Book Translations Stats by Language</a></div>
		</div>			
		<div>
			<div class="label">Raw</div>
			<div class="row"><a target="_self" href="data/public/unesco_langinfo_20120722_iso639-3.txt" download="unesco_langinfo_20120722_iso639-3.txt">Total translations by language</a></div>
			<div class="row"><a target="_self" href="data/public/unesco_langlang_20120722_iso639-3.txt" download="unesco_langlang_20120722_iso639-3.txt">Translations between each language pair</a></div>
		</div>	
		<div>
			<div class="label">Final Network</div>
			<div class="row"><a target="_self" href="data/public/books_nodes.tsv" download="books_nodes.tsv">Nodes</a></div>
			<div class="row"><a target="_self" href="data/public/books_edges.tsv" download="books_edges.tsv">Edges</a></div>
		</div>
	</div>

	<div class="category">Wikipedia</div>
	<div class="table">
		<div>
			<div class="label">Metadata</div>
			<div class="row"><a target="_self" href="data/public/datasets_stats_wikipedia.tsv" download="datasets_stats_wikipedia.tsv">Wikipedia Stats by Language</a></div>
		</div>							
		<div>
			<div class="label">Raw</div>
			<div class="row"><a target="_self" href="data/public/wikipedia_userlang_iso639-3.zip" download="wikipedia_userlang_iso639-3.zip">Language Expressions by User</a></div>
		</div>
		<div>
			<div class="label">Final Network</div>
			<div class="row"><a target="_self" href="data/public/wikipedia_nodes.tsv" download="wikipedia_nodes.tsv">Nodes</a></div>
			<div class="row"><a target="_self" href="data/public/wikipedia_edges.tsv" download="wikipedia_edges.tsv">Edges</a></div>
		</div>
	</div>

	<div class="category">Twitter</div>
	<div class="table">
		<div>
			<div class="label">Metadata</div>
			<div class="row"><a target="_self" href="data/public/datasets_stats_twitter.tsv" download="datasets_stats_twitter.tsv">Twitter Stats by Language</a></div>
		</div>	
		<div>
			<div class="label">Raw</div>
			<div class="row"><a target="_self" href="data/public/twitter_userlang_iso639-3a.tsv.zip" download="twitter_userlang_iso639-3a.tsv.zip">Language Expressions by User (a)</a></div>
			<div class="row"><a target="_self" href="data/public/twitter_userlang_iso639-3b.tsv.zip" download="twitter_userlang_iso639-3b.tsv.zip">Language Expressions by User (b)</a></div>
			<div class="row"><a target="_self" href="data/public/twitter_userlang_iso639-3c.tsv.zip" download="twitter_userlang_iso639-3c.tsv.zip">Language Expressions by User (c)</a></div>
			<div class="row"><a target="_self" href="data/public/twitter_userlang_iso639-3d.tsv.zip" download="twitter_userlang_iso639-3d.tsv.zip">Language Expressions by User (d)</a></div>
		</div>
		<div>
			<div class="label">Final Network</div>
			<div class="row"><a target="_self" href="data/public/twitter_gln_nodes.tsv" download="twitter_gln_nodes.tsv">Nodes</a></div>
			<div class="row"><a target="_self" href="data/public/twitter_gln_links_with_over_expression.tsv" download="twitter_gln_links_with_over_expression.tsv">Edges</a></div>
		</div>
	</div>

	<div class="category">Analysis</div>
	<div class="table">
		<div>
			<div class="label">Network Centralities</div>
			<div class="row"><a target="_self" href="data/public/centralities_by_language.tsv" download="centralities_by_language.tsv">Eigenvector and Betweenness Centrality by Language for All Networks</a></div>
		</div>
	</div>

	<div class="category">Famous Individuals</div>
	<div class="table">
		<div>
			<div class="label">Wikipedia</div>
			<div class="row"><a target="_self" href="data/public/Famous_wikipedia_by_language.tsv" download="Famous_wikipedia_by_language.tsv">Famous Individuals in Wikipedia by Language</a></div>
			<div class="row"><a target="_self" href="data/public/Famous_wikipedia_by_country.tsv" download="Famous_wikipedia_by_country.tsv">Famous Individuals in Wikipedia by Country</a></div>
		</div>
		<div>
			<div class="label">Murray</div>
			<div class="row"><a target="_self" href="data/public/Famous_murray_by_language.tsv" download="Famous_murray_by_language.tsv">Famous Individuals in Murray Dataset by Language</a></div>
			<div class="row"><a target="_self" href="data/public/Famous_murray_by_country.tsv" download="Famous_murray_by_country.tsv">Famous Individuals in Murray Dataset by Country</a></div>
		</div>
	</div>



	<div class="category">Utility</div>
	<div class="table">
		<div>
			<div class="label">GDP per Capita and Population</div>
			<div class="row"><a target="_self" href="data/public/gdp_pc_population_by_country.tsv" download="gdp_pc_population_by_country.tsv">GDP per Capita and Population by Country</a></div>
			<div class="row"><a target="_self" href="data/public/gdp_pc_population_by_language.tsv" download="gdp_pc_population_by_language.tsv">GDP per Capita and Population by Language</a></div>
		</div>
		<div>
			<div class="label">Language Metadata</div>
			<div class="row"><a target="_self" href="data/public/language_conversion_table_iso639-3.tsv" download="language_conversion_table_iso639-3.tsv">Language Conversation Table</a></div>
			<div class="row"><a target="_self" href="data/public/language_speakers_families_iso639-3.tsv" download="language_speakers_families_iso639-3.tsv">Language Speakers and Families</a></div>
		</div>
	</div>

	<div class="category">All Networks</div>
	<div class="table">
		<div>
			<div class="label">Data and Layout</div>
			<div class="row"><a target="_self" href="data/public/Networks.cys" download="Networks.cys">Cytoscape</a></div>
		</div>
	</div>

	</div>
	</div>
</div>