<div class="content">
	<div class="title">
		Press
	</div>
	<div class="text">
		<div class="press">
			<div class="label">
				<a target="_blank" href="http://news.sciencemag.org/social-sciences/2014/12/want-influence-world-map-reveals-best-languages-speak">
					Science Magazine
				</a>
				<span class="date">
					December 15, 2014
				</span>
			</div>
			<div class="label">
				<a target="_blank" href="http://serious-science.org/videos/428">
					Serious Science Interview with Professor Hidalgo
				</a>
				<span class="date">
					January 24, 2014
				</span>
				<div class="video">
					<iframe width="100%" height="368px" src="http://www.youtube.com/embed/mflFIjV0iyc" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>