<div class="content">
	<div class="title">
		Press
	</div>
	<div class="text">
		<div class="press">
			<div class="label">
				<a target="_blank" href="https://hbr.org/2015/01/why-english-not-mandarin-is-the-language-of-innovation">
					Harvard Business Review
				</a>
				<span class="date">
					January 12, 2015
				</span>
			</div>
			<div class="label">
				<a target="_blank" href="http://www.economist.com/blogs/prospero/2014/12/johnson-language-networks">
					The Economist
				</a>
				<span class="date">
					December 31, 2014
				</span>
			</div>
			<div class="label">
				<a target="_blank" href="http://www.fastcodesign.com/3040149/infographic-of-the-day/mapping-the-most-influential-languages-on-earth">
					Fast Co.Design
				</a>
				<span class="date">
					December 22, 2014
				</span>
			</div>
			<div class="label">
				<a target="_blank" href="http://qz.com/314181/why-learning-spanish-not-mandarin-is-the-best-way-to-globalize-your-ideas/">
					Quartz
				</a>
				<span class="date">
					December 17, 2014
				</span>
			</div>
			<div class="label">
				<a target="_blank" href="http://www.businessinsider.com/charts-show-influential-languages-2014-12">
					Business Insider
				</a>
				<span class="date">
					December 16, 2014
				</span>
			</div>
			<div class="label">
				<a target="_blank" href="http://www.iflscience.com/brain/new-study-reveals-most-influential-languages">
					IFLScience
				</a>
				<span class="date">
					December 16, 2014
				</span>
			</div>
			<div class="label">
				<a target="_blank" href="http://news.mit.edu/2014/network-maps-global-fame-different-language-speakers-1216">
					MIT News
				</a>
				<span class="date">
					December 16, 2014
				</span>
			</div>
			<div class="label">
				<a target="_blank" href="http://phys.org/news/2014-12-chance-globally-famous-language.html">
					Phys.org
				</a>
				<span class="date">
					December 16, 2014
				</span>
			</div>
			<div class="label">
				<a target="_blank" href="http://scientificrussia.ru/news/russkij-okazalsya-v-chisle-7-samyh-vazhnyh-yazykov-mira">
					Scientificrussia.ru
				</a>
				<span class="date">
					December 16, 2014
				</span>
			</div>
			<div class="label">
				<a target="_blank" href="http://news.sciencemag.org/social-sciences/2014/12/want-influence-world-map-reveals-best-languages-speak">
					Science Magazine
				</a>
				<span class="date">
					December 15, 2014
				</span>
			</div>
			<div class="label">
				<a target="_blank" href="http://www.agenciasinc.es/Noticias/Tu-exito-depende-de-la-posicion-de-tu-idioma-en-la-red-global">
					Agenciasinc.es
				</a>
				<span class="date">
					December 15, 2014
				</span>
			</div>
			<div class="label">
				<a target="_blank" href="http://serious-science.org/videos/428">
					Serious Science Interview with Professor Hidalgo
				</a>
				<span class="date">
					January 24, 2014
				</span>
				<div class="video">
					<iframe width="100%" height="368px" src="http://www.youtube.com/embed/mflFIjV0iyc" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
